head
    style(type='text/css').
        table {
            width: 15em;
            border-collapse: collapse;
        }
        th {
            background-color: whitesmoke;
            padding: 1em;
            text-align: left;
            border: 1px solid black;
            padding: 1em;
        }
        td {
            border: 1px solid black;
            padding: 1em;
            }