html
    include includes/head.pug
    body
        include includes/header.pug
        table 
            tr
                th User Name
                th Name
                th Email
                th Age
                th Manage
            each user in data
                tr
                    td #{user.userId}
                    td #{user.name}
                    td #{user.email}
                    td #{user.age}
                    td 
                        a(href='/edit/' + user.uuid) edit
                        form(action="/delete/" + user.uuid method="post")
                            input( type="submit" value="delete")
                    